name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: BIDS-flux/datalad-zenodo-upload

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Setup requirements
      run: pip install -r requirements.txt

    - name: Run Python unit tests
      run: python3 -u -m unittest tests/tests.py

    - name: Log in to the Container registry
      uses: docker/login-action@v3.3.0
      with:
        registry: ${{ env.REGISTRY }}
        username: cneuromod-bot
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5.9.0
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6.13.0
      with:
        context: .
        file: Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Integration test
      id: integration
      uses: ./
      with:
        sandbox: true
        zenodo_token: ${{ secrets.ZENODO_SANDBOX_API_TOKEN }}

    - name: Output the outputs of the integration test of the action
      run: |
        echo "zenodo_doi = ${{ steps.integration.outputs.zenodo_doi }}"
        echo "zenodo_url = ${{ steps.integration.outputs.zenodo_url }}"
        echo "archive_url = ${{ steps.integration.outputs.archive_url }}"

    - name: Verify integration test results
      run: python3 -u -m unittest tests/integration.py
